.sprite-social {
    background-image: url("/img/social/spritesheet-social.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-facebook {
    width: 20px;
    height: 20px;
    background-position: -5px -5px;
}

.sprite-facebook:hover {
    width: 20px;
    height: 20px;
    background-position: -35px -5px;
}

.sprite-google {
    width: 20px;
    height: 20px;
    background-position: -65px -5px;
}

.sprite-google:hover {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}

.sprite-mail {
    width: 20px;
    height: 20px;
    background-position: -35px -35px;
}

.sprite-mail:hover {
    width: 20px;
    height: 20px;
    background-position: -65px -35px;
}

.sprite-tweet {
    width: 20px;
    height: 20px;
    background-position: -5px -65px;
}

.sprite-tweet:hover {
    width: 20px;
    height: 20px;
    background-position: -35px -65px;
}

.sprite-vk {
    width: 20px;
    height: 20px;
    background-position: -65px -65px;
}

.sprite-vk:hover {
    width: 20px;
    height: 20px;
    background-position: -95px -5px;
}
